# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.tmp
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows Installer
*.exe
# User-specific files
.vs/
.vscode/
.idea/
# ASP.NET Scaffolding
ScaffoldingReadMe.txt
# Rider
.idea/

../.vs/
/.vs/ProjectEvaluation/apiturnomatico.metadata.v9.bin
/.vs/ProjectEvaluation/apiturnomatico.projects.v9.bin
/.vs/ProjectEvaluation/apiturnomatico.strings.v9.bin
/.vs/apiTurnoMatico/FileContentIndex/248cdbd3-8c0a-4b95-831e-8aa2e48d4417.vsidx
/.vs/apiTurnoMatico/FileContentIndex/25ab8227-2b27-43a8-897d-36550f5d1572.vsidx
/.vs/apiTurnoMatico/FileContentIndex/35e877dc-f8e1-4e6f-95de-fdc67b3765f3.vsidx
/.vs/apiTurnoMatico/FileContentIndex/471a687a-ab36-4c1e-97db-acaea69af52f.vsidx
/.vs/apiTurnoMatico/FileContentIndex/544b7c7e-e7ab-4a3c-9ce3-73af82fbaf0c.vsidx
/apiTurnoMatico/obj/apiTurnoMatico.csproj.nuget.dgspec.json
/apiTurnoMatico/obj/apiTurnoMatico.csproj.nuget.g.props
/apiTurnoMatico/obj/Debug/net9.0/apiTurnoMatico.AssemblyInfo.cs
/apiTurnoMatico/obj/Debug/net9.0/apiTurnoMatico.AssemblyInfoInputs.cache
/apiTurnoMatico/obj/Debug/net9.0/apiTurnoMatico.assets.cache
/apiTurnoMatico/obj/Debug/net9.0/apiTurnoMatico.csproj.AssemblyReference.cache
/apiTurnoMatico/obj/Debug/net9.0/apiTurnoMatico.GeneratedMSBuildEditorConfig.editorconfig
/apiTurnoMatico/obj/project.assets.json
/apiTurnoMatico/obj/project.nuget.cache
